<nav class="ss-navbar">
  <div class="ss-navbar__brand">
    <a class="ss-navbar__logo-container" routerLink="/main">
      <img
        src="https://onecompileman.com/sketch-online/assets/icons/edit.png"
        alt=""
      />
    </a>
    <span class="ss-navbar__title"> Sketches </span>
  </div>

  <div class="dropdown show">
    <a
      class="ss-navbar__user"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img [src]="user?.photoURL" alt="" />
      <span class="ss-navbar__user-name">{{ user?.displayName }} </span>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="/main/my-sketch-list" href="#"
        >My Sketches</a
      >
      <a class="dropdown-item" (click)="signOut()">Logout</a>
    </div>
  </div>
</nav>